$primary-color: #1d3557;
$secondary-color: #f1faee;
$card-bg-color: #ffffff;
$danger-color: #e63946;
$danger-hover-color: #d62828;
$text-color: #1d3557;
$box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
$border-radius: 8px;
$transition-time: 0.3s;

h2 {
  text-align: center;
  color: $primary-color;
  margin-bottom: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  justify-content: center;
  padding: 0 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.product-card {
  background-color: #f1faee;
  border-radius: $border-radius;
  overflow: hidden;
  transition: transform $transition-time, box-shadow $transition-time;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.651);
  }

  .card-content {
    padding: 1.5rem;

    h3 {
      margin: 0 0 0.5rem;
      color: $primary-color;
      font-size: 1.25rem;
    }

    .price {
      font-size: 1.1rem;
      font-weight: bold;
      color: $danger-color;
      margin-bottom: 1rem;
    }

    .description {
      font-size: 0.9rem;
      color: $primary-color;
      margin-bottom: 1.5rem;
    }

    button {
      align-self: flex-end;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: $border-radius;
      background-color: $danger-color;
      color: #fff;
      cursor: pointer;
      transition: background-color $transition-time, transform $transition-time;

      &:hover,
      &:focus {
        background-color: $danger-hover-color;
        outline: none;
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}